[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/NadalFerriol
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/NadalFerriol
	label-Verified = -1..+1 group user/NadalFerriol
	push = group user/NadalFerriol
	read = group user/NadalFerriol
	rebase = group user/NadalFerriol
	removeReviewer = group user/NadalFerriol
	submit = group user/NadalFerriol
[access "refs/heads/*"]
	create = group user/NadalFerriol
	push = +force group user/NadalFerriol
	pushMerge = group user/NadalFerriol
	read = group user/NadalFerriol
[access "refs/tags/*"]
	push = group user/NadalFerriol
	push = +force group user/NadalFerriol
